.digidennis-sitepack-keyvisual {
  padding: 2em;
  margin: 0 15px 15px;
  background-color: #9c9c9c;
  color: #292929;
}
.digidennis-sitepack-keyvisual h1,
.digidennis-sitepack-keyvisual h2 {
  margin-top: 0;
}
