{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}

<f:section name="body">
    {parts.menu -> f:format.raw()}
    <f:if condition="{heroimage}">
        <section class="digidennis-sitepack-hero {herocss}" style="background-image:url({heroimage});">
            {herocontent -> f:format.raw()}
        </section>
    </f:if>
    <section class="content">
        {parts.breadcrumbs -> f:format.raw()}
        <f:if condition="{showpagemenu}">
            {parts.pagemenu -> f:format.raw()}
        </f:if>
        {content.main -> f:format.raw()}
    </section>
    {parts.footer -> f:format.raw()}
</f:section>
