@import 'ContentTypes/Button';
@import 'ContentTypes/Icon';
@import 'ContentTypes/Keyvisual';
@import 'ContentTypes/Slick';
@import 'ContentTypes/Square';
@import 'ContentTypes/Circle';
@import 'ContentTypes/PageList';



html.document-noscroll,
html.document-noscroll body {
  @media screen {
    @media (max-width: 1349px) {
      overflow: hidden;
      position: relative;
      height: 100%;
    }
  }
}

body{
  font-size: 16px;
  font-family: "Nunito Sans", "Open Sans", sans-serif;
  font-weight: 300;
}
h1{
  font-weight:900;
  text-transform: uppercase;
  font-size: 2em;
}
h2{
  font-weight:200;
}

*[class^="col-"]{
 .neos-nodetypes-image{
   img{
     height:auto;
     width:100%;
   }
  }
}

.neos-alignment-center{
  text-align: center;
}
.neos-alignment-left{
  text-align: left;
  float:left;
  margin:0 1em 1em 0;
}
.neos-alignment-right{
  text-align: right;
  float:right;
  margin:0 1em 0 1em;
}

.container-fluid{
  @media (min-width: 600px) {
    padding-left:30px;
    padding-right:30px;
  }
  @media (min-width: 768px) {
    padding-left:45px;
    padding-right:45px;
  }
  @media (min-width: 992px) {
    padding-left:75px;
    padding-right:75px;
  }
  @media (min-width: 1200px) {
    padding-left:120px;
    padding-right:120px;
  }
}
/**
* HEADER STUFF
*/
.digidennis-sitepack-siteheader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  transition: all .5s ease;
  background: linear-gradient(to bottom,rgba(0, 0, 0, 0.35) 0,transparent 100%);
  color: #FFF;
  &.siteheader-hidden {
    -webkit-transform: translateY(-120px);
    -ms-transform: translateY(-120px);
    transform: translateY(-120px);
  }
  .sitelogo {
    z-index: 1;
    float:left;
    position: relative;
    img {
      max-width: 200px;
      height: auto;
    }
  }
  .navtoggler {
    margin-top: 19px;
    float:right;
    position: relative;
    z-index: 1;
  }
  @media screen {
    @media (max-width: 1349px) {
      nav{
        position: fixed;
        top: 0;
        right: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        width: 100%;
        height: 100%;
        padding: 5em 30px 1.5em;
        background: linear-gradient(to bottom,rgba(76, 76, 76, 0.85) 0,#ffffff 100%);
        opacity: 0;
        &.navigation-open {
          -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
          .nav-wrap{
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
            opacity: 1;
          }
        }
        .nav-wrap {
          height: 100%;
          overflow: hidden;
          -webkit-transform: translateY(-35px);
          -ms-transform: translateY(-35px);
          transform: translateY(-35px);
          transition: .5s .3s ease all;
          opacity: 0;
        }
      }
    }
    @media (min-width: 1350px) {
      &.siteheader-shaded {
        background: #5f5f5f;
      }
      .navtoggler {
        display: none;
        visibility: hidden;
      }
    }
  }
}

.nav, .nav-sublist {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  & > li {
    & > a {
      padding: 0;
      display: block;
      transition: all .3s ease;
      color: currentColor;
      &:hover, &:active, &:focus{
        background-color: unset;
      }
    }
  }
}

.digidennis-sitepack-siteheader .nav {
  font-weight: 400;
  font-size: .95em;
  & > li {
    position: relative;
  }
  @media screen{
    @media (max-width: 649px) {
      li.topcat{
        width: 100%!important;
        float: none!important;
      }
    }
    @media (max-width: 1349px) {
      margin-right: -16px;
      overflow-y: scroll;
      height: 100%;
      &:before,
      &:after {
        content: '';
        display: table;
      }
      &:after {
        clear: both;
      }
      li.topcat {
        width: 50%;
        margin-bottom: 15px;
        float: left;
        &:nth-child(odd) {
          clear: both;
        }
        & > a {
          font-size: 1.3em;
          font-weight: 100;
        }
      }
    }
    @media (min-width: 1350px) {
      float:right;
      margin-top: 8px;
      & > li{
        display: inline-block;
        margin-left: 52px;
        padding:14px 5px 0;
        & > a {
          padding:0;
        }
        &:hover > .nav-sublist {
          opacity: 1;
          -webkit-transform: translateX(-50%) translateY(0px);
          -ms-transform: translateX(-50%) translateY(0px);
          transform: translateX(-50%) translateY(0px);
          pointer-events: all;
        }
        &:last-child:hover > .nav-sublist {
          -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
          transform: translateY(0);
        }
        &:last-child > .nav-sublist {
          right: 0;
          left: auto;
          -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          transform: translateY(-10px);
          &:after {
            left: 92%;
          }
        }
      }
    }
  }
}

.digidennis-sitepack-siteheader .nav-sublist {
  & > li{
    display: block;
  }
  @media screen and (min-width: 1350px) {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-10px);
    -ms-transform: translateX(-50%) translateY(-10px);
    transform: translateX(-50%) translateY(-10px);
    width: 300px;
    background: #FFF;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 14px;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
    color: #656a71;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    &:after {
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -2.5px;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: solid 5px;
      border-color: transparent transparent #fff transparent;
    }
  }
  & > li > a:hover {
    color: currentColor;
  }
}


.digidennis-sitepack-sitefooter {
  margin: 0 15px 15px;
  color:white;
  background-color: #5a5a5a;
  .sitelogo img{
    max-width: 200px;
  }
}

.hamburger {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 18px;
  color: currentColor;
  &:hover, &:focus
  {
    color: currentColor;
  }
  .hamburger-line {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 2px;
    transition: .5s ease transform;
    border-radius: 4px;
    background-color: currentColor;
  }
  .hamburger-line-top
  {
    top: 2px;
  }
  .hamburger-line-bottom
  {
    top: auto;
    bottom: 0;
  }
}

.hamburger-active {
  .hamburger-line-top {
    -webkit-transform: translate3d(8px, 1px, 0) rotate(45deg) scaleX(0.7);
    transform: translate3d(8px, 1px, 0) rotate(45deg) scaleX(0.7);
  }
  .hamburger-line-bottom {
    -webkit-transform: translate3d(8px, -1px, 0) rotate(-45deg) scaleX(0.7);
    transform: translate3d(8px, -1px, 0) rotate(-45deg) scaleX(0.7);
  }
}

.figure-triangle-down{
  border-width: 13px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #469dea;
  display: block;
}

.digidennis-sitepack-hero{
  padding: 4em 0;
  margin: 0 15px 15px;
  background-size: cover;
  @media screen {
    @media (min-width: 600px) {
      padding: 6em 0;
    }
    @media (min-width: 992px) {
      padding: 8em 0;
    }
    @media (min-width: 1200px) {
      padding: 10em 0;
    }
  }
}

.digidennis-sitepack-spacer{
  border-top:2px solid #fff;
}