.digidennis-sitepack-button {
  background-image: none;
}
.digidennis-sitepack-button i.fa {
  margin-left: 0.3em;
}
.digidennis-sitepack-icon.large {
  font-size: 130px;
}
.digidennis-sitepack-icon.medium {
  font-size: 65px;
}
.digidennis-sitepack-icon.small {
  font-size: 32px;
}
.digidennis-sitepack-keyvisual {
  padding: 2em;
  margin: 0 15px 15px;
  background-color: #9c9c9c;
  color: #292929;
}
.digidennis-sitepack-keyvisual h1,
.digidennis-sitepack-keyvisual h2 {
  margin-top: 0;
}
.slick-node .slick-prev,
.slick-node .slick-next {
  width: 30px;
  height: 30px;
  z-index: 190;
  top: 39px;
}
.slick-node .slick-prev:before,
.slick-node .slick-next:before {
  font-size: 24px;
  opacity: 0.35;
  color: #000;
  font-family: "Glyphicons Halflings";
}
.slick-node .slick-prev:hover:before,
.slick-node .slick-next:hover:before {
  opacity: 0.7;
}
.slick-node .slick-prev {
  left: 24px;
}
.slick-node .slick-prev:before {
  content: "\e257";
}
.slick-node .slick-next {
  right: 24px;
}
.slick-node .slick-next:before {
  content: "\e258";
}
.slick-node .slick-slide img {
  width: 100%;
}
.slick-node .slick-disabled:before {
  opacity: 0!important;
}
.digidennis-sitepack-square {
  padding: 2em;
  background-color: #9e9e9e;
  color: white;
  text-align: center;
  margin: 0.8em auto;
}
.digidennis-sitepack-square.hascirclestart {
  margin-top: 4em;
}
.digidennis-sitepack-square h1 {
  margin-bottom: 1em;
}
.digidennis-sitepack-square .digidennis-sitepack-button {
  margin-top: 1em;
}
.transparent.digidennis-sitepack-square {
  background-color: transparent;
}
.digidennis-sitepack-circle {
  position: relative;
  border-radius: 50%;
  width: 80%;
  height: auto;
  padding-top: 80%;
  color: white;
  background-color: #d8d8d8;
  margin: 1em auto;
}
.digidennis-sitepack-circle.insquare:first-child {
  width: 40%;
  padding-top: 40%;
  top: -6em;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: -5em;
}
.digidennis-sitepack-circle > figure {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}
.digidennis-sitepack-circle > figure > p {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  font-size: 400%;
  font-weight: 700;
  margin: 0;
}
.digidennis-sitepack-pagelist {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
.digidennis-sitepack-pagelist a {
  display: block;
  text-transform: uppercase;
  color: currentcolor;
}
.digidennis-sitepack-pagelist img {
  max-width: 120px;
  height: auto;
  margin-bottom: 15px;
}
.digidennis-sitepack-pagelist *[class^="col-"] {
  margin-bottom: 30px;
}
@media screen and (max-width: 1349px) {
  html.document-noscroll,
  html.document-noscroll body {
    overflow: hidden;
    position: relative;
    height: 100%;
  }
}
body {
  font-size: 16px;
  font-family: "Nunito Sans", "Open Sans", sans-serif;
  font-weight: 300;
}
h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 2em;
}
h2 {
  font-weight: 200;
}
*[class^="col-"] .neos-nodetypes-image img {
  height: auto;
  width: 100%;
}
.neos-alignment-center {
  text-align: center;
}
.neos-alignment-left {
  text-align: left;
  float: left;
  margin: 0 1em 1em 0;
}
.neos-alignment-right {
  text-align: right;
  float: right;
  margin: 0 1em 0 1em;
}
@media (min-width: 600px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 45px;
    padding-right: 45px;
  }
}
@media (min-width: 992px) {
  .container-fluid {
    padding-left: 75px;
    padding-right: 75px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 120px;
    padding-right: 120px;
  }
}
/**
* HEADER STUFF
*/
.digidennis-sitepack-siteheader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 60px;
  transition: all .5s ease;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.35) 0, transparent 100%);
  color: #FFF;
}
.digidennis-sitepack-siteheader.siteheader-hidden {
  -webkit-transform: translateY(-120px);
  -ms-transform: translateY(-120px);
  transform: translateY(-120px);
}
.digidennis-sitepack-siteheader .sitelogo {
  z-index: 1;
  float: left;
  position: relative;
}
.digidennis-sitepack-siteheader .sitelogo img {
  max-width: 200px;
  height: auto;
}
.digidennis-sitepack-siteheader .navtoggler {
  margin-top: 19px;
  float: right;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1349px) {
  .digidennis-sitepack-siteheader nav {
    position: fixed;
    top: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 100%;
    height: 100%;
    padding: 5em 30px 1.5em;
    background: linear-gradient(to bottom, rgba(76, 76, 76, 0.85) 0, #ffffff 100%);
    opacity: 0;
  }
  .digidennis-sitepack-siteheader nav.navigation-open {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .digidennis-sitepack-siteheader nav.navigation-open .nav-wrap {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  .digidennis-sitepack-siteheader nav .nav-wrap {
    height: 100%;
    overflow: hidden;
    -webkit-transform: translateY(-35px);
    -ms-transform: translateY(-35px);
    transform: translateY(-35px);
    transition: .5s .3s ease all;
    opacity: 0;
  }
}
@media screen and (min-width: 1350px) {
  .digidennis-sitepack-siteheader.siteheader-shaded {
    background: #5f5f5f;
  }
  .digidennis-sitepack-siteheader .navtoggler {
    display: none;
    visibility: hidden;
  }
}
.nav,
.nav-sublist {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li > a,
.nav-sublist > li > a {
  padding: 0;
  display: block;
  transition: all .3s ease;
  color: currentColor;
}
.nav > li > a:hover,
.nav-sublist > li > a:hover,
.nav > li > a:active,
.nav-sublist > li > a:active,
.nav > li > a:focus,
.nav-sublist > li > a:focus {
  background-color: unset;
}
.digidennis-sitepack-siteheader .nav {
  font-weight: 400;
  font-size: .95em;
}
.digidennis-sitepack-siteheader .nav > li {
  position: relative;
}
@media screen and (max-width: 649px) {
  .digidennis-sitepack-siteheader .nav li.topcat {
    width: 100%!important;
    float: none!important;
  }
}
@media screen and (max-width: 1349px) {
  .digidennis-sitepack-siteheader .nav {
    margin-right: -16px;
    overflow-y: scroll;
    height: 100%;
  }
  .digidennis-sitepack-siteheader .nav:before,
  .digidennis-sitepack-siteheader .nav:after {
    content: '';
    display: table;
  }
  .digidennis-sitepack-siteheader .nav:after {
    clear: both;
  }
  .digidennis-sitepack-siteheader .nav li.topcat {
    width: 50%;
    margin-bottom: 15px;
    float: left;
  }
  .digidennis-sitepack-siteheader .nav li.topcat:nth-child(odd) {
    clear: both;
  }
  .digidennis-sitepack-siteheader .nav li.topcat > a {
    font-size: 1.3em;
    font-weight: 100;
  }
}
@media screen and (min-width: 1350px) {
  .digidennis-sitepack-siteheader .nav {
    float: right;
    margin-top: 8px;
  }
  .digidennis-sitepack-siteheader .nav > li {
    display: inline-block;
    margin-left: 52px;
    padding: 14px 5px 0;
  }
  .digidennis-sitepack-siteheader .nav > li > a {
    padding: 0;
  }
  .digidennis-sitepack-siteheader .nav > li:hover > .nav-sublist {
    opacity: 1;
    -webkit-transform: translateX(-50%) translateY(0px);
    -ms-transform: translateX(-50%) translateY(0px);
    transform: translateX(-50%) translateY(0px);
    pointer-events: all;
  }
  .digidennis-sitepack-siteheader .nav > li:last-child:hover > .nav-sublist {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .digidennis-sitepack-siteheader .nav > li:last-child > .nav-sublist {
    right: 0;
    left: auto;
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  .digidennis-sitepack-siteheader .nav > li:last-child > .nav-sublist:after {
    left: 92%;
  }
}
.digidennis-sitepack-siteheader .nav-sublist > li {
  display: block;
}
@media screen and (min-width: 1350px) {
  .digidennis-sitepack-siteheader .nav-sublist {
    position: absolute;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-10px);
    -ms-transform: translateX(-50%) translateY(-10px);
    transform: translateX(-50%) translateY(-10px);
    width: 300px;
    background: #FFF;
    border-radius: 3px;
    padding: 10px 20px;
    font-weight: 300;
    font-size: 14px;
    opacity: 0;
    transition: all .3s ease;
    pointer-events: none;
    color: #656a71;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  }
  .digidennis-sitepack-siteheader .nav-sublist:after {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -2.5px;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: solid 5px;
    border-color: transparent transparent #fff transparent;
  }
}
.digidennis-sitepack-siteheader .nav-sublist > li > a:hover {
  color: currentColor;
}
.digidennis-sitepack-sitefooter {
  margin: 0 15px 15px;
  color: white;
  background-color: #5a5a5a;
}
.digidennis-sitepack-sitefooter .sitelogo img {
  max-width: 200px;
}
.hamburger {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 18px;
  color: currentColor;
}
.hamburger:hover,
.hamburger:focus {
  color: currentColor;
}
.hamburger .hamburger-line {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  transition: .5s ease transform;
  border-radius: 4px;
  background-color: currentColor;
}
.hamburger .hamburger-line-top {
  top: 2px;
}
.hamburger .hamburger-line-bottom {
  top: auto;
  bottom: 0;
}
.hamburger-active .hamburger-line-top {
  -webkit-transform: translate3d(8px, 1px, 0) rotate(45deg) scaleX(0.7);
  transform: translate3d(8px, 1px, 0) rotate(45deg) scaleX(0.7);
}
.hamburger-active .hamburger-line-bottom {
  -webkit-transform: translate3d(8px, -1px, 0) rotate(-45deg) scaleX(0.7);
  transform: translate3d(8px, -1px, 0) rotate(-45deg) scaleX(0.7);
}
.figure-triangle-down {
  border-width: 13px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #469dea;
  display: block;
}
.digidennis-sitepack-hero {
  padding: 4em 0;
  margin: 0 15px 15px;
  background-size: cover;
}
@media screen and (min-width: 600px) {
  .digidennis-sitepack-hero {
    padding: 6em 0;
  }
}
@media screen and (min-width: 992px) {
  .digidennis-sitepack-hero {
    padding: 8em 0;
  }
}
@media screen and (min-width: 1200px) {
  .digidennis-sitepack-hero {
    padding: 10em 0;
  }
}
.digidennis-sitepack-spacer {
  border-top: 2px solid #fff;
}
