{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<nav>
    <ul class="nav">
        <li><neos:link.node node="~">{site.title}</neos:link.node></li>
        <f:render section="itemsList" arguments="{items: items}" />
    </ul>
</nav>

<f:section name="itemsList">
    <f:for each="{items}" as="item">
        <li{ts:render(path: '{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
        <neos:link.node node="{item.node}">{item.label}</neos:link.node>
        <f:if condition="{item.subItems}">
            <ul class="nav-sublist">
                <f:render section="itemsList" arguments="{items: item.subItems}" />
            </ul>
        </f:if>
        </li>
    </f:for>
</f:section>